@font-face {
  font-family: "Futura Lt BT";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FUTURAL.ttf") format("truetype") }
  
  
  
  @font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/futurabookc-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futurabookc-webfont.woff2") format("woff2"), url("../fonts/futurabookc-webfont.woff") format("woff"), url("../fonts/futurabookc-webfont.ttf") format("truetype"), url("../fonts/futurabookc-webfont.svg#Futura Lt BT") format("svg"); }